:root {
    --gb-primary: #723afe;
    --gb-primary-sub: #7641fe;
    --gb-secundary: #632af4;
}

/* GLOBAIS */
*, ul, p, h1, h2, h3, h4, h5, h6, .card-title{
    padding: 0px;
    margin: 0px;
}
body {
    background-color: #f9f9f9;
}
li {
    list-style-type: none;
}
h2 {
    font-size: 28px;
}
p, span {
    font-size: 18px;
}

/* HEADER */
#primary {
    background-image: linear-gradient(to bottom, var(--gb-primary-sub), var(--gb-primary)) ;
    width: 100%;
    border-radius: 0px 0px 50px 50px;
}
ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul li {
    padding: 10px;
    display: flex;
    align-items: center;
}
ul li:nth-child(1),ul li:nth-child(3){
    padding: auto 20px;
}
ul li span {
    color: rgb(190, 188, 188);
}
ul li img {
    height: 45px;
}

#primary .informations {
    display: flex;
    align-items: center;
    color: white;
    flex-direction: column;
    position: relative;
    padding-bottom: 3em;
    margin-bottom: 1.8em;
}

#primary .informations #visibility {
    border: solid 1px white;
    border-radius: 10px;
    border-radius: 100px;
    background-color: #0000;
    padding: 4px 11px;
    color: white;
    margin: 10px 0px;
    display: flex;
    align-items: center;
    font-weight: 500;
}
#primary .informations #visibility span {
    margin-right: 10px;
    font-size: 17px;
}
#primary .informations #total {
    margin-bottom: 10px;
    margin-left: 2px;
}

#primary .informations h2 {
    font-weight: 600;
    display: flex;
}

#primary .informations h2 span {
    font-size: 14px;
    margin-right: 5px;
}

#primary .informations .buttons {
    position: absolute;
    display: flex;
    bottom: -30px;
}
#primary .informations .buttons button {
    border-radius: 100px;
    padding: 13px 32px;
    color: white;
    margin: 10px 4px;
    display: flex;
    align-items: center;
    border: none;
    font-size: 14px;
    font-weight: 600;
}
#primary .informations .buttons button:nth-child(1){
    background-color: #5e41d3;
}
#primary .informations .buttons button:nth-child(2){
    background-color: #e6379e;
}

.multiples {
    width: 100%;
    padding: 0 10px;
    margin-bottom: 40px
}
.card {
    background-color: var(--gb-primary);
    color: white;
    border-radius: 14px;
    margin-top: .7em;
}
.card .card-content {
    padding: 23px 16px 20px 16px;
}
.card .card-content .info {
    padding: 7px 14px;
    border-radius: 100px;
    letter-spacing: 1px;
}
.card .card-content h2 {
    font-weight: 500;
    display: flex;
    padding-top: .35em;
    margin: 18px 0px 0px 0px;
}
.card .card-content h2 span {
    font-size: 14px;
    margin-right: 5px;
}

.card .card-title {
    background-color: #6431e2;
    border-radius: 0px 0px 14px 14px;
    padding: 9px;
}

.card-icons {
    display: flex;
}
.card-item {
    background-color: #6431e2;
    color: white;
    border-radius: 14px;
    margin-top: .7em;
    width: 100%;
    display: flex;
    padding: 11px 12px;
}
.card-item:nth-child(1) {
    margin-right: 10px;
}
.card-item .image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-item .image img {
    width: 60%;
}
.card-item .text {
    display: flex;
    align-items: center;
    width: 50%;
}
.card-item .text p {
    font-size: 16px;
}

#chart .subtile {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 0px ;
}

#chart .subtile p {
    font-size: 20px;
    margin-right: 5px;
}
#chart .subtile button {
    border-radius: 100px;
    background-color: #e6379e;
    padding: 8px 15px;
    color: white;
    margin: 10px 0px;
    display: flex;
    align-items: center;
    border: none;
    font-size: 14px;
}

#chart .subtile button span {
    margin-left: 5px;
}

#chart .days {
    width: 100%;
    background-color: #f9f9f9;
    border-radius: 99px;
    padding: 5px;
    display: flex;
}
#chart .days span {
    color: rgb(0, 0, 0);
    border-radius: 99px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}
#chart .days span:nth-child(1){
    background-color: var(--gb-primary);
    color: rgb(255, 255, 255);
}
#chart .info {
    display: flex;
    justify-content: space-between;
    background-color: #f9f9f9;
    border-radius: 0px;
    margin-top: 5px;
    align-items: center;
    border-bottom: solid 1px #626262;
}

#chart .info li {
    color: black;
    font-size: 18px;
}
#chart .info li h2 {
    font-size: 24px;
}
#chart .info li h2, #chart .info li h2 span {
    color: rgb(0, 75, 38);
    font-weight: 100;
}
.content-graph {
    height: 350px;
    background-color: white;
}